
:root {
    --color1: #3498db;
    --color2: #2ecc71;
    --color3: #15803D;
    --color4: #14532D;
    --color5: #166534;
    --color6: #1abc9c;
    --color7: #34495e;
    --color8: #e67e22;
    --color9: #95a5a6;
}

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    border: none;
    overflow: auto;
}

html {
    min-height: 100vh;
    font-size: 15px;
}

body {
    height: 100%;
    background-color: white;
}


nav {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color3);
    color: white;
    padding: 0 2rem;
}

#banner {
    width: 100%;
    height: 15rem;
    background-image: url(./assets/hero-leaf1.png), url(./assets/hero-leaf2.png);
    background-position: left center, right center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--color6);
    
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    
}

#grid-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 2rem;
    flex-grow: 1;
}

.head-1 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 0;
}

.head-2 {
    font-size: 1.5rem;
    
    margin: 1rem 0;
}

.category-op {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: .2rem;
}

.category-selected {
    background-color: var(--color3);
    color: white;
}